<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quiz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let time of timer">
      <ion-item >
          {{time}}
        </ion-item>
  </ion-list>

    <ion-list radio-group *ngFor="let quiz of obj; let i= index;" (ionChange)="mcqAnswer($event)">
      <ion-list-header>
        {{quiz.quest}}
      </ion-list-header>
    
      <ion-item>
        <ion-label>{{quiz.choice1}}</ion-label>
        <ion-radio  value={{quiz.choice1}}></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>{{quiz.choice2}}</ion-label>
        <ion-radio  value={{quiz.choice2}}></ion-radio>
      </ion-item>
    
      
      <ion-item>
        <ion-label>{{quiz.choice3}}</ion-label>
        <ion-radio  value={{quiz.choice3}}></ion-radio>
      </ion-item>
      <button ion-button (click)="next()">Next</button>
    </ion-list>

</ion-content>